
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h1>List of entries</h1>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <td>list</td>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${dataList.empty}">
        <td colspan="2">Nothing on the list</td>
    </tr>
    <tr th:each="welcomeform : ${dataList}">
        <td th:text="${welcomeform.experience}"></td>
        <td th:text="${welcomeform.rating}"></td>
        <td th:text="${welcomeform.email}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>